<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Dashboard</h1>

    <form action="">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </form>

    <a href="/auth/login"> <button> Sign In </button></a>
    <a href="/auth/register"> <button> Sign Up </button></a>
    <a href="/logout"> <button> Logout </button></a>
</body>

</html>